body {
  margin: 0;
  background-color: grey;
}

.container {
  display: flex;
  justify-content: space-around;
  background-color: #1b244a;
  height: 40vh;
  width: 70vh;
  margin: 0 auto;
  border: 5px solid white;
  border-radius: 23px;
}

.home-score,
.guest-score {
  background-color: black;
  border-radius: 3px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: MyFont;
  color: #f94f6d;
}

.score {
  font-size: 67px;
  display: flex;
  margin: 0 auto;
}

@font-face {
  font-family: MyFont;
  src: url(fonts/CursedTimerUlil-Aznm.ttf) format("truetype");
}

h1 {
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: Verdana;
  color: #eeeeee;
}

.btns {
  margin-top: 25px;
}

.btn {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  padding: 5px 10px;
  font-family: MyFont;
  height: 45px;
  width: 50;
}

