body {
  margin: 0;
  background-color: grey;
}

.container {
  display: flex;
  justify-content: space-around;

  height: 40vh;
  width: 70vh;
  margin: 0 auto;

  border-radius: 23px;
  /* From https://css.glass */
  background: linear-gradient(
    to right bottom,
    rgba(225, 29, 72, 1),
    rgba(255, 228, 230, 0.5)
  );
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 1px solid rgba(190, 18, 60, 1);
}

.home-score,
.guest-score {
  background-color: black;
  border-radius: 3px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: MyFont;
  color: #f94f6d;
}

.score {
  font-size: 67px;
  display: flex;
  margin: 0 auto;
}

@font-face {
  font-family: MyFont;
  src: url(fonts/CursedTimerUlil-Aznm.ttf) format("truetype");
}

h1 {
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: Verdana;
  color: #eeeeee;
}

.btns {
  margin-top: 25px;
}

.btn {
  background-color: transparent;
  border: 2px solid gba(17, 24, 39, 1);
  border-radius: 5px;
  color: rgba(17, 24, 39, 1);
  padding: 5px 10px;
  font-family: MyFont;
  height: 45px;
  width: 50;
}

